@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";
@plugin "daisyui";

/* Custom font class */
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down {
  animation: fade-down 0.25s ease-out;
}

.scroll-wrapper {
  width: 100%;
  overflow: hidden;
}

.skill-icon {
  width: 64px;
  height: 64px;
  opacity: 0.8;
  transition: 0.3s;
}

.skill-icon:hover {
  opacity: 1;
}

.scroll-content {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

/* Smooth infinite loop */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}